.stats_info {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.info_principalInfo {
  display: flex;
  flex-flow: column;
}

.info_secundaryInfo {
  display: flex;
  flex-flow: column;
}

.detailSection_data {
  display: flex;
  gap: 60px;
}

.data_stats {
  display: flex;
  flex-flow: column;
  gap: 30px;
}

.data_flag {
  height: 30vh;
  max-width: 450px;
  width: 80vw;
  max-height: 350px;
}

.detailSection_button {
  padding: 5px 30px;
  margin: 60px 0px;
}

.detailSection {
  padding: 0px 5%;
  min-height: 1300px;
}

.stats_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1000px) {
  .detailSection_data {
    flex-flow: column;
    align-items: center;
  }
}
