.componentContainer {
  display: flex;
  flex-flow: column;
  gap: 15px;
  width: 200px;
  height: 310px;
  border-radius: 5px;
  position: relative;
  bottom: 0px;
}

.componentContainer:hover {
  filter: drop-shadow(rgba(0, 0, 0, 0.233) 2px 16px 5px);
  position: relative;
  bottom: 10px;
  transition: filter 1s 0s, bottom 0.5s 0s;
}

.componentContainer_flag {
  background-size: contain;
  max-height: 120px;
  height: 100%;
  border-radius: 5px 5px 0px 0px;
}

.componentContainer_info {
  padding: 0px 20px 0px;
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.info_Text {
  display: block;
  font-size: 14px;
  font-weight: 300;
}

.info_name {
  font-weight: 800;
}

strong {
  font-weight: 600;
}
